*{
    font-family: sans-serif;
}


body{
    margin: 50px;
    background-color: #48cae4;
}

a{
    font-size: 12px;
    
}

table{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px 0 50px 0;
    background-color: #fff;
}

h1{
    color: #f8edeb;
}
